In [6]:
# make sure to install these packages before running:
! pip install sodapy

Collecting sodapy
  Downloading sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in c:\users\const\anaconda3\lib\site-packages (from sodapy) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\const\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\const\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\const\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\const\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0

In [12]:
#!/usr/bin/env python
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
#https://data.cityofnewyork.us/resource/erm2-nwe9.json
results = client.get("erm2-nwe9", where="agency_name = 'Department of Housing Preservation and Development'", limit=2000)

# Convert to pandas DataFrame
DepHousing = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [10]:
DepHousing.head(10)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,borough,x_coordinate_state_plane,y_coordinate_state_plane,open_data_channel_type,park_facility_name,park_borough,latitude,longitude,location,closed_date
0,46199212,2020-05-14T18:45:04.000,HPD,Department of Housing Preservation and Develop...,WATER LEAK,SLOW LEAK,RESIDENTIAL BUILDING,10453,1667 POPHAM AVENUE,POPHAM AVENUE,...,BRONX,1006190,248734,ONLINE,Unspecified,BRONX,40.849365136670365,-73.92069675586234,"{'latitude': '40.849365136670365', 'longitude'...",NaN
1,46199211,2020-05-14T14:05:13.000,HPD,Department of Housing Preservation and Develop...,WATER LEAK,DAMP SPOT,RESIDENTIAL BUILDING,11230,1480 OCEAN AVENUE,OCEAN AVENUE,...,BROOKLYN,996322,167457,PHONE,Unspecified,BROOKLYN,40.62629906949887,-73.95651098626831,"{'latitude': '40.62629906949887', 'longitude':...",NaN
2,46199209,2020-05-14T19:58:55.000,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10025,941 WEST END AVENUE,WEST END AVENUE,...,MANHATTAN,992971,231388,PHONE,Unspecified,MANHATTAN,40.80177825721272,-73.9685000415869,"{'latitude': '40.80177825721272', 'longitude':...",NaN
3,46199208,2020-05-14T13:25:01.000,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11691,10-11 NAMEOKE STREET,NAMEOKE STREET,...,QUEENS,1053966,159135,PHONE,Unspecified,QUEENS,40.603190901113365,-73.74893681750441,"{'latitude': '40.603190901113365', 'longitude'...",NaN
4,46199207,2020-05-14T14:26:33.000,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11225,611 FLATBUSH AVENUE,FLATBUSH AVENUE,...,BROOKLYN,995219,179137,ONLINE,Unspecified,BROOKLYN,40.658359591926306,-73.96046551956852,"{'latitude': '40.658359591926306', 'longitude'...",2020-05-14T18:38:30.000
5,46199206,2020-05-14T15:57:24.000,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10032,467 WEST 164 STREET,WEST 164 STREET,...,MANHATTAN,1001298,244244,MOBILE,Unspecified,MANHATTAN,40.837052204340665,-73.93839054613258,"{'latitude': '40.837052204340665', 'longitude'...",2020-05-14T17:42:43.000
6,46199205,2020-05-14T05:55:57.000,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11374,63-90 AUSTIN STREET,AUSTIN STREET,...,QUEENS,1022394,204170,ONLINE,Unspecified,QUEENS,40.7269939392772,-73.86237971496188,"{'latitude': '40.7269939392772', 'longitude': ...",NaN
7,46199204,2020-05-14T12:08:28.000,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER SUPPLY,RESIDENTIAL BUILDING,11205,232 TAAFFE PLACE,TAAFFE PLACE,...,BROOKLYN,995430,191278,PHONE,Unspecified,BROOKLYN,40.69168363566094,-73.95968489413325,"{'latitude': '40.69168363566094', 'longitude':...",NaN
8,46199203,2020-05-14T23:35:41.000,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER SUPPLY,RESIDENTIAL BUILDING,10457,2141 CROTONA AVENUE,CROTONA AVENUE,...,BRONX,1015333,248737,PHONE,Unspecified,BRONX,40.849345918244566,-73.88764893507538,"{'latitude': '40.849345918244566', 'longitude'...",NaN
9,46199197,2020-05-14T02:48:34.000,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,PESTS,RESIDENTIAL BUILDING,10025,7 WEST 108 STREET,WEST 108 STREET,...,MANHATTAN,995472,230568,ONLINE,Unspecified,MANHATTAN,40.79952475913887,-73.95946788538738,"{'latitude': '40.79952475913887', 'longitude':...",NaN

Taking dataframe and writing it into a csv file

In [15]:
DepHousing.to_csv('HPD.csv')

Reading `pluto_20v3.csv` into NYCPluto Dataframe using pandas

In [16]:
NYCPluto = pd.read_csv('pluto_20v3.csv')

C:\Users\const\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (17,18,20,22,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
print(NYCPluto)

       borough  block   lot     cd  ct2010  cb2010  schooldist  council  \
0           MN      1   401  101.0  317.03     1.0         NaN      1.0
1           BX   3328    32  207.0  431.00  3000.0        10.0     11.0
2           BK   1163    37  308.0  305.00  4001.0        17.0     35.0
3           QN  16174  7502  414.0  942.01  1029.0        27.0     32.0
4           QN   1229    50  402.0  259.00  2001.0        30.0     26.0
...        ...    ...   ...    ...     ...     ...         ...      ...
858974      BK   1784  1102  303.0  253.00  3003.0        13.0     36.0
858975      MN    701    52    NaN     NaN     NaN         NaN      NaN
858976      MN    702     1    NaN     NaN     NaN         NaN      NaN
858977      QN   3989    25  407.0  945.00     5.0         NaN     19.0
858978      QN  15749    50  414.0  972.03     1.0         NaN     31.0

        zipcode firecomp  ...        appbbl     appdate  plutomapid version  \
0           NaN      NaN  ...           NaN         NaN           4    20v3
1       10467.0     L039  ...           NaN         NaN           1    20v3
2       11238.0     E219  ...           NaN         NaN           1    20v3
3       11694.0     E268  ...  4.161740e+09  06/19/2007           1    20v3
4       11377.0     E292  ...           NaN         NaN           1    20v3
...         ...      ...  ...           ...         ...         ...     ...
858974  11216.0     L102  ...           NaN         NaN           2    20v3
858975      NaN      NaN  ...           NaN         NaN           2    20v3
858976      NaN      NaN  ...           NaN         NaN           2    20v3
858977      NaN      NaN  ...           NaN         NaN           4    20v3
858978      NaN      NaN  ...           NaN         NaN           4    20v3

       sanitdistrict healthcenterdistrict firm07_flag pfirm15_flag dcpedited  \
0                NaN                  NaN         1.0          1.0         t
1                7.0                 21.0         NaN          NaN         t
2                8.0                 36.0         NaN          NaN         t
3               14.0                 45.0         NaN          1.0       NaN
4                2.0                 42.0         NaN          NaN       NaN
...              ...                  ...         ...          ...       ...
858974           3.0                 36.0         NaN          NaN       NaN
858975           NaN                  NaN         NaN          NaN       NaN
858976           NaN                  NaN         NaN          NaN       NaN
858977           NaN                  NaN         1.0          1.0         t
858978           NaN                  NaN         1.0          1.0         t

       notes
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
858974   NaN
858975   NaN
858976   NaN
858977   NaN
858978   NaN

[858979 rows x 90 columns]

In [20]:
NYCPluto[NYCPluto.borough == 'MN']

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,...,appbbl,appdate,plutomapid,version,sanitdistrict,healthcenterdistrict,firm07_flag,pfirm15_flag,dcpedited,notes
0,MN,1,401,101.0,317.03,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,4,20v3,NaN,NaN,1.0,1.0,t,NaN
7,MN,451,1,103.0,40.00,4000.0,1.0,2.0,10003.0,L011,...,NaN,NaN,1,20v3,3.0,14.0,NaN,NaN,NaN,NaN
20,MN,95,43,101.0,15.01,3017.0,2.0,1.0,10038.0,E006,...,NaN,NaN,1,20v3,1.0,15.0,NaN,NaN,t,NaN
21,MN,142,3,101.0,21.00,2002.0,2.0,1.0,10007.0,L010,...,1.001420e+09,12/28/2006,1,20v3,1.0,15.0,1.0,1.0,t,NaN
44,MN,223,23,101.0,39.00,1012.0,2.0,1.0,10013.0,L008,...,NaN,NaN,1,20v3,1.0,15.0,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858882,MN,1660,25,111.0,180.00,3001.0,4.0,8.0,10029.0,E091,...,NaN,NaN,1,20v3,11.0,12.0,NaN,1.0,NaN,NaN
858957,MN,470,37,102.0,41.00,2000.0,2.0,1.0,10013.0,L006,...,NaN,NaN,1,20v3,2.0,15.0,NaN,NaN,NaN,NaN
858963,MN,1638,42,111.0,172.00,1003.0,4.0,8.0,10029.0,E091,...,NaN,NaN,1,20v3,11.0,12.0,NaN,NaN,NaN,NaN
858975,MN,701,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,20v3,NaN,NaN,NaN,NaN,NaN,NaN
858976,MN,702,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,20v3,NaN,NaN,NaN,NaN,NaN,NaN

create a new dataframe with filtered data. The data will be filtered by borough. In this case it will be the borough of Manahttan.

In [21]:
NYCPluto = NYCPluto[NYCPluto.borough == 'MN']

In [22]:
NYCPluto.to_csv('pluto_MN.csv')